@import 'github-markdown-css/github-markdown.css';
@import 'katex/dist/katex.min.css';
@import 'tailwindcss';

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}

.markdown-body {
  background-color: transparent;
  color: #000;
  font-size: 16px;
  line-height: 1.8;
}

.markdown-body > :first-child {
  margin-top: 0;
}

.markdown-body ol {
  list-style-type: decimal;
}

.markdown-body ul {
  list-style-type: disc;
}

.markdown-body dd p {
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
}

.markdown-body dl dd {
  padding-left: 2rem;
}
